<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>::. Evento App .::</title>
		
		<!--Import Google Icon Font-->
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	    <!--Import materialize.css-->
	    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
	    <link type="text/css" rel="stylesheet" href="/css/style.css">
	
	    <!--Let browser know website is optimized for mobile-->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	    
	</head>
	
	<body>
		<header>
			<nav class="teal">
				<div class="nav-wrapper container">
					<a href="/cadastrarEvento" class="brand-logo">Evento App</a>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li><a href="/cadastrarEvento">Cadastrar Evento</a></li>
						<li><a href="/eventos">Lista de Eventos</a></li>
					</ul>
					</div>
			</nav>
		</header>
		<h4 class="center-align">Cadastar Evento</h4>
			
		<main class="main">
			<form method="post" class="container">
				<div class="row"> 
					<div class="input-field col s12"> 
					Nome: <input type="text" name="nome" >
					</div>
					
					<div class="input-field col s6">
						Local: <input type="text" name="local">
					</div>
					
					<div class="input-field col s3">
						Data:  <input type="date" name= "data">
					</div>
					
					<div class="input-field col s3">
						Horario: <input type="text" name="horario">
					</div>
					
				</div>
				
				<button class="btn waves-effect waves-light col s2" type="submit" name="action">Salvar 
	 					 <i class="material-icons right">check_circle</i>
					</button>
				
				<a href="/eventos" class="waves-effect waves-light btn col s2">Mostrar Eventos</a>
				
				<th:block th:include="mensagemValidacao"></th:block>
				
			</form>
		</main>	
		<footer class="page-footer teal darken-3 footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <p class="grey-text text-lighten-4 footer">Site feito com Spring Boot, JPA/Hibernate, Spring Data, Bean Validation, Thymeleaf e Materialize.</p>
              </div>
              <div class="col l4 offset-l2 s12">
              	<p>Entre em contato comigo: </p>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/caioabreudev/" target="_blank">LinkedIn</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/caiorobertoabreu" target="_blank">GitHub</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/CaioRobertoAbreu/eventoapp" target="_blank">Código do projeto</a></li>
                  <li>caio3015@hotmail.com</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container center align">
            © 2020 Copyright Text
            </div>
          </div>
        </footer>
		<!--JavaScript at end of body for optimized loading-->
      	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	</body>
</html>